/venv
/__pycache__
/package/__pycache__
/IMC
/Banco/__pycache__
/zip_example
/zip_example_unzipped
/pdf_source
/pdf_target
error.log
teste.txt
requirements.txt
tasks.json
exe_class_01.json
heranca_01_log.txt
context_01.txt
context_02.txt
json_01.json
csv_01.csv
string_01.txt
zip_example.zip
.env