/venv
/__pycache__
/package/__pycache__
/Banco/__pycache__
/Calculadora/__pycache__
/IMC
error.log
teste.txt
tasks.json
exe_class_01.json
heranca_01_log.txt
context_01.txt
context_02.txt
json_01.json
csv_01.csv
string_01.txt
.env