/venv
/__pycache__
/package/__pycache__
/Banco/__pycache__
/QT6/Calculadora/__pycache__
/IMC
error.log
teste.txt
tasks.json
exe_class_01.json
heranca_01_log.txt
context_01.txt
context_02.txt
json_01.json
csv_01.csv
string_01.txt
.env
/SQL/MySQL/.env
/SQL/MySQL/mysql_container
/SQL/MySQL/__pycache__
/Django/venv
/Django/Hello/project/__pycache__
/Django/Hello/home/__pycache__
/Django/Hello/blog/__pycache__
/Django/Hello/home/migrations/__pycache__
/Django/Hello/blog/migrations/__pycache__
/Django/Agenda/project/__pycache__
/Django/Agenda/contact/__pycache__
/Django/Agenda/contact/migrations/__pycache__
/Django/Agenda/assets
/Django/Agenda/uploads
/Django/Agenda/project/local_settings.py
/Django/Agenda/contact/views/__pycache__
