<div class="topnav">
  <a class="active" href="{% url 'contact:index' %}">Contatos</a>
  <a href="{% url 'contact:create' %}">Novo</a>
  <a href="#">Login</a>
  <div class="search-container">
    <form 
      action="{% url 'contact:search' %}" 
      method="GET">
      <input 
        type="search" 
        class="search-input"
        placeholder="Buscar"
        id="search"
        name="q"
        value="{{ request.GET.q.strip }}"
      >
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
