{% extends 'base.html' %}
{% block title %} Pagamento | {% endblock title%}
{% load static %}
{% if pedido is None %}
   <h3>Não existe Nenhum pedido!</h3>
{% else %}
    {% block content %}
    <div class="row">
        <div class="col">
            <h3>Escolha o método de pagamento</h3>
            <p>Para o desenvolvedor: adicione seu método de pagamento preferido.</p>
        </div>
    </div>
    {% include 'partials/pedido.html' %}
    <div class="row mt-4">
        <div class="col-lg d-flex justify-content-center align-items-center">
            <a href="#"
              class="btn btn-primary btn-block btn-lg"
              style="background-color: purple !important;
              max-width: 400px !important"
            ><i class="fas fa-file-invoice-dollar"></i> Pagar</a>
        </div>
    </div>
    {% endblock content %}
{% endif %}    