{% extends 'base.html' %} {% load priceFilter %} {% block content %}
<!-- Carrinho de compras-->
{% if request.session.carrinho %}
<div class="row mt-3">
  <div class="col">
    <h3>Carrinho de compras</h3>
    <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th class="d-none d-lg-block">Imagem</th>
          <th>Produto</th>
          <th>Excluir</th>
          <th>Valor</th>
          <th>Quantidade</th>
          <th>Total</th>
        </tr>
        {% for produto in request.session.carrinho.values %}
        <tr>
          <td class="d-none d-lg-block">
            <img class="cart-img" src="{{ produto.imagem }}" />
          </td>
          <td>{{ produto.produto_nome }}</td>
          <td>
            <a class="ml-3" href="#">
              <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
            </a>
          </td>
          <td>{{ produto.variacao_nome }}</td>
          <td>
            {{ produto.quantidade }} x
            <!-- quantidade unitária -->
            {% if produto.preco_unitario_promocional %}
            <!-- preço unitário na promoção -->
            {{produto.preco_unitario_promocional | price_format }}
            <!-- fim preço unitário na promoção -->
            {% else %}
            <!-- preço unitário normal -->
            {{ produto.preco_unitario | price_format }}
            <!-- fim preço unitário normal -->
            {% endif %}
          </td>
          <td>
            {% if produto.preco_quantitativo_promocional %}
            <!-- preço na promoção -->
            {{produto.preco_quantitativo_promocional | price_format }}
            <!-- fim preço na promoção -->
            {% else %}
            <!-- preço normal -->
            {{ produto.preco_quantitativo | price_format }}
            <!-- fim preço normal -->
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row mt-3" style="width: 100% !important">
  <div class="col-lg">
    <p class="lead">Total no carrinho</p>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <td class="font-weight-bold">Total</td>
          <td>R$100000</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg mt-auto" style="width: 100% !important">
    <div class="d-flex justify-content-center align-items-center">
      <a
        class="btn btn-lg btn-block btn-primary"
        href="#"
        style="background-color: purple !important; max-width: 400px !important"
      >
        Finalizar Compra <i class="fa fa-comment-dollar"></i>
      </a>
    </div>
  </div>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center">
  <h3>Seu carrinho de compras está vazio.</h3>
</div>
{% endif %}
<!-- Fim do Carrinho de compras -->
{% endblock content %}
