{% extends 'base.html' %} {% load priceFilter %} {% block title %} Detalhes do
Produto {% endblock title %} {% block content %}
<div
  class="row"
  style="padding-left: 40px !important; padding-right: 40px !important"
>
  {% if produto.imagem %}
  <div class="col-lg">
    <div class="row no-gutters">
      <div class="col-lg-12">
        <img class="img-fluid" src="{{ produto.imagem.url}}" />
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-lg">
    <div class="mt-4 mt-lg-0">
      <h1 class="h2">{{ produto.nome }}</h1>
      <p class="lead">{{ produto.descricao_curta | linebreaks }}</p>
      <p class="lead">
        {% if produto.preco_marketing_promocional %}
        <span id="variation-preco-promocional" class="lead product-price">
          {{ produto.preco_marketing_promocional | price_format }}
        </span>
        <span id="variation-preco" class="lead product-old-price text-muted">
          {{ produto.preco_marketing | price_format}}
        </span>
        {% else %}
        <span id="variation-preco" class="lead product-price">
          {{ produto.preco_marketing | price_format}}
        </span>
        {% endif %}
      </p>
      <form action="/addtocart/" id="form-add-to-cart">
        {% if produto.tipo == 'V' %}
        <div class="form-group">
          <select
            id="select-variacoes"
            name="vid"
            class="form-control form-control-lg"
          >
            {% for variacao in produto.variacao_set.all reversed %}
            <option
              data-preco="{{ variacao.preco | price_format}}"
              data-preco-promocional="{{ variacao.preco_promocional | price_format }}"
              value="{{ variacao.id }}"
            >
              {{ variacao.nome }}
            </option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <div class="text-left">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Adicionar ao carrinho
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="mt-5 mb-5">
      <h5 class="text-center" style="color: #008b8b !important">
        <strong>{{ produto.nome }}</strong>
      </h5>
      <div class="text-center">{{ produto.descricao_longa | linebreaks }}</div>
    </div>
  </div>
</div>
{% endblock content %}
