{% load static %}
<footer class="container-fluid bg-primary"
 style="background-color: purple !important">
  <div class="container-fluid text-light">
    <div class="row">
      <div class="col">
        <div class="p-1">
          <span class="align-left p-1"><img src="{% static 'assets/custom/img/django.png' %}"></span>
        </div>
      </div>
      <div class="col">
        <div class="p-1 text-right">
          <span class="align-right p-1">&copy;<i><b>Alexandre Araujo</b></i></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>
