{% load static %}
{% load priceFilter %}
<div class="table-responsive">
    <table class="table">
        <tr>
        <th class="d-none d-lg-block">Imagem</th>
        <th>Produto</th>
        <th>Excluir</th>
        <th>Tipo</th>
        <th>Quantidade</th>
        <th>Total</th>
        </tr>
        {% for produto in request.session.carrinho.values %}
        <tr>
        <td class="d-none d-lg-block">
            <img
            class="cart-img"
            src="{{ produto.imagem }}"
            alt="{{ produto.slug }}"
            width="64"
            height="64"
            />
        </td>
        <td>
            <a href="{% url 'produto:detalhe' produto.slug %}" class="link"
            >{{ produto.produto_nome }}</a
            >
        </td>
        <td>
            <a
            class="ml-3"
            href="{% url 'produto:removerdocarrinho' %}?id={{produto.produto_id}}&vid={{produto.variacao_id}}"
            >
            <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ produto.variacao_nome }}</td>
        <td>
            {{ produto.quantidade }} x
            <!-- quantidade unitária -->
            {% if produto.preco_unitario_promocional %}
            <!-- preço unitário na promoção -->
            {{produto.preco_unitario_promocional | price_format }}
            <!-- fim preço unitário na promoção -->
            {% else %}
            <!-- preço unitário normal -->
            {{ produto.preco_unitario | price_format }}
            <!-- fim preço unitário normal -->
            {% endif %}
        </td>
        <td>
            {% if produto.preco_quantitativo_promocional %}
            <!-- preço na promoção -->
            {{ produto.preco_quantitativo_promocional | price_format }}
            <!-- fim preço na promoção -->
            {% else %}
            <!-- preço normal -->
            {{ produto.preco_quantitativo | price_format }}
            <!-- fim preço normal -->
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
</div>