<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.html' %}
    <title>{% block title %} Sua Loja {% endblock title %}</title>
  </head>
  <body style="background-color: lavender !important; color: navy !important">
    {% include 'partials/menu.html' %}
    <main class="container-fluid mt-4 mb-4">
      {% include 'partials/messages.html' %}
      <!--conteúdo -->
      {% block content %}{% endblock content %}
      <!--fim conteúdo -->
    </main>
    {% include 'partials/footer.html' %}
  </body>
</html>
